.project-card {
    height: 23rem;
    width: 25rem;
    border-radius: 30px;
    padding: 1.5rem 2rem;
    position: relative;
    background: $color3;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.15);

    &:nth-child(5n+2){
        $background-color: rgb(237, 151, 13);
        background: lighten(rgb(237, 151, 13),40%);
        .project-card__progress--bar-input::-webkit-slider-thumb{
            background: $background-color;
        }
        .project-card__progress--bar-input::-webkit-slider-runnable-track{
            background: linear-gradient(90deg, $background-color 20%, white 20%);
        }
        .project-card__line{
            background-color: white;
        }
        .project-card__footer--plusIcon svg{
            fill: $background-color;
        }
        .project-card__footer--button-btn{
            background: white;
            color: $background-color;
        }
    }
    &:nth-child(5n+3){
        $background-color: rgb(13, 237, 62);
        background: lighten($background-color,40%);
        .project-card__progress--bar-input::-webkit-slider-thumb{
            background: $background-color;
        }
        .project-card__progress--bar-input::-webkit-slider-runnable-track{
            background: linear-gradient(90deg, $background-color 50%, white 50%);
        }
        .project-card__line{
            background-color: white;
        }
        .project-card__footer--plusIcon svg{
            fill: $background-color;
        }
        .project-card__footer--button-btn{
            background: white;
            color: $background-color;
        }
    }
    &:nth-child(5n+4){
        $background-color: rgb(229, 30, 146);
        background: lighten($background-color,40%);
        .project-card__progress--bar-input::-webkit-slider-thumb{
            background: $background-color;
        }
        .project-card__progress--bar-input::-webkit-slider-runnable-track{
            background: linear-gradient(90deg, $background-color 30%, white 30%);
        }
        .project-card__line{
            background-color: white;
        }
        .project-card__footer--plusIcon svg{
            fill: $background-color;
        }
        .project-card__footer--button-btn{
            background: white;
            color: $background-color;
        }
    }
    &:nth-child(5n+5){
        $background-color: rgb(179, 30, 229);
        background: lighten($background-color,40%);
        .project-card__progress--bar-input::-webkit-slider-thumb{
            background: $background-color;
        }
        .project-card__progress--bar-input::-webkit-slider-runnable-track{
            background: linear-gradient(90deg, $background-color 60%, white 60%);
        }
        .project-card__line{
            background-color: white;
        }
        .project-card__footer--plusIcon svg{
            fill: $background-color;
        }
        .project-card__footer--button-btn{
            background: white;
            color: $background-color;
        }
    }

    &__options {
        position: absolute;
        right: 2rem;

        &--dot {
            height: .7rem;
            aspect-ratio: 1/1;
            background: black;
            border-radius: 50%;
            margin-bottom: .3rem;
        }
    }

    &__date {
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(115, 115, 115)
    }

    &__heading {
        padding-block: 2rem .5rem;

        h4 {
            font-weight: bold;
            font-size: 1.8rem;
            text-align: center
        }

        &--category {
            text-align: center;
            font-size: 1.4rem;
        }
    }

    &__progress {
        &--label{
            font-size: 1.2rem;
            font-weight: bold;
        }
        &--bar {
            &-input {
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 5px;
                background: white;
                border: none;
                outline: none;
                border-radius: 5px;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    height: 100%;
                    aspect-ratio: 1/1;
                    background: rgb(0, 187, 229);
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: background 0.3s ease-in-out;
                    // margin-left: 0px;
                }

                &::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 5px;
                    background: linear-gradient(90deg, rgb(0, 187, 229) 90%, #E0E0E0 50%);
                    border-radius: 10px;
                    cursor: pointer;
                }

            }
        }
        &--percentage{
            text-align: end;
            font-size: 1.2rem;
            font-weight: bold
        }
    }

    &__line{
        height: 1px;
        width: inherit;
        margin-left: -2rem;
        background: rgb(215, 215, 215);
        margin-top: 1rem;
    }

    &__footer{
        @include flex-center();
        // border: 2px solid red;
        padding-top: 1rem;
        height: 5rem;
        &--images{
            &-img{
                height: 2.3rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                overflow: hidden;
                display: inline-block;
                &:not(:first-child){
                    margin-left: -10px;
                }
            }
        }
        &--plusIcon{
            height: 100%;
            display: flex;
            align-items: center;
            svg{
                height: 2.4rem;
                margin-left: 5px;
                fill: rgb(0, 187, 229);
            }  
        } 

        &--button{
            margin-left: auto;
            &-btn{
                all: unset;
                background: rgba(0, 187, 229, 0.137);
                color: rgb(0, 187, 229);
                font-weight: bold;
                padding: .5rem 1.3rem;
                border-radius: 50px;
                font-size: 1.2rem;
            }   
        }
    }
}