.navigation{
    min-height: 80svh;
    width: 10rem;
    padding: 6rem 3rem;

    @media(max-width: 420px){
        width: 8rem;
        padding: 6rem 1rem;
    }

    &__icon{
        width: 3rem;
        aspect-ratio: 1/1;
        margin: 0 auto;
        margin-bottom: 3.3rem;
        color: rgb(94, 93, 93);
        position: relative;
        cursor: pointer;
        z-index: 2;

        svg{
            transition: all .5s;
        }
        &::before{
            height: 100%;
            width: 100%;
            background: black;
            z-index: -1;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease-out;
        }

        &:hover::before,
        &:first-child::before{
            opacity: 1;
            visibility: visible;
            scale: 2;
        }

        &:hover,
        &:first-child{
            color: white;
            svg{
                scale: 1.2;
            }
        }
    }
}