@mixin flex($gap){
    display: flex;
    gap: $gap;
}


@mixin flex-center($gap:0){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin card-color($background-color){
    background: lighten($background-color,40%);
    .project-card__progress--bar-input::-webkit-slider-thumb{
        background: $background-color;
    }
    .project-card__progress--bar-input::-webkit-slider-runnable-track{
        background: linear-gradient(90deg, $background-color 50%, white 50%);
    }
    .project-card__line{
        background-color: white;
    }
    .project-card__footer--plusIcon svg{
        fill: $background-color;
    }
    .project-card__footer--button-btn{
        background: white;
        color: $background-color;
    }
    .project-card__footer--button-btn:hover{
        color: darken($background-color,15%);
    }
}